.checkout{
    background: #fff;
    margin: 30px 60px;
    padding: 30px 60px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 100px;
    flex-wrap: wrap;
}
@media (max-width: 768px){
    .checkout{
        margin: 30px;
        padding: 30px;
    }
}
.shipping-details, .checkout-summary{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    padding: 30px 35px
}
@media(width<500px){
    .checkout-summary{
        padding: 30px 15px;
    }
}
.shipping-details{
    min-width: 200px;
    width: 300px;
}
.checkout-summary{
    min-width: 300px;
    width: 400px;
}
form{
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    padding-top: 30px;
}
form input{
    outline: none;
    border: 1px solid #e1e1e1;
    padding: 5px;
    margin-bottom: 10px;
}
form input::placeholder{
    font-size: 12px;
}
.bill-amount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#da2128;
    margin-top: 30px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;

}

/* POP UP start */

.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 10px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}