.register {
    margin: 30px 60px;
}
@media (max-width: 768px){
    .register{
        margin: 30px;
    }
}
.register h2 {
    text-align: center;
    margin-bottom: 30px;
}

.register form {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
}

@media(max-width:425px) {
    .register {
        margin: 30px;
    }

    .register form {
        padding: 30px;
    }
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

.col label {
    font-size: 14px;
    margin-bottom: 5px;
}

.col input {
    outline: none;
    border: 1px solid #e1e1e1;
    padding: 5px;
}

.col input::placeholder {
    font-size: 12px;
}

.register form button {
    width: 200px;
    margin: 10px auto 0;
}

.login {
    min-width: 300px;
    max-width: 330px;
    margin: 30px auto;
}